name: Build Sega Genesis ROM
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install and Build
        run: |
          npm install
          node index.js ./examples/test/project/startup.choice
      - name: Upload ROM
        uses: actions/upload-artifact@v3
        with:
          name: Sega-Genesis-ROM
          path: ./*.bin
